* {
    box-sizing:border-box;
}

img{
    width: 200px;
    height: 200px;
    align-items: center;
}

.avatar {
    width: 300px;
    height: 300px;
    /* object-fit: cover;  */
    margin: 20px;
}
header{
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
}

.jarvis {
    font-size: 40px;
    font-weight: bold;
    color: rgba(29, 29, 162, 0.682);
    background-color: #3a569bb1;
    /* display: flex;
    align-items: flex-start; */
    /* flex-direction: column; */
    /* bottom: 60px; */
    /* position:absolute; */
    /* top:0px */
}

nav{
    display:flex;
    gap: 8px;
    position: relative;
}




a{  all: unset;
    margin: 10px;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: rgb(247, 176, 247);
    position: relative;
    cursor: pointer;
    color: blueviolet;
}
a:hover{
    left:10px;
    background-color: #e249b973;
    
}



h1{
    font-size: 35px;
    background-color: aqua;
    color: rgb(6, 82, 148);
    font-weight: bold;
    
}

h2{
    color: blue;
    background-color: aquamarine;
    font-weight: bolder;
}

